@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ewert&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gorditas&display=swap');
* {
    background-color: rgb(207, 171, 207);
    background-image: url("");
}

h1 {
    font-size: larger;
    color: rgb(161, 29, 11);
    font-family: 'Gorditas', cursive;
    text-align: center;
}

p {
    font-size: medium;
    font-family: 'Oxygen', sans-serif;
    color: rgb(6, 7, 63);
}

.list {
    text-align: right;
}

ol {
    font-size: medium;
    font-family: fantasy;
    color: midnightblue;
    text-align: right;
    list-style-position: inside;
}

a {
    color: rgb(33, 73, 41);
}

.button {
    display: flex;
    justify-content: space-around;
    padding: 10px;
    border-radius: 4px;
    transition: all 0.5s;
    cursor: pointer;
}


/* .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
} */

.button1 {
    background-color: beige;
    font-size: 20px;
}

.button1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button1 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button1:hover span {
    padding-right: 25px;
}

.button1:hover span:after {
    opacity: 1;
    right: 0;
}

.button2 {
    background-color: rgb(231, 201, 28);
    font-size: 20px;
}

.button2 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button2 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button2:hover span {
    padding-right: 25px;
}

.button2:hover span:after {
    opacity: 1;
    right: 0;
}

.button3 {
    background-color: rgb(8, 146, 238);
    font-size: 20px;
}

.button3 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button3 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button3:hover span {
    padding-right: 25px;
}

.button3:hover span:after {
    opacity: 1;
    right: 0;
}

.button4 {
    background-color: rgb(12, 12, 12);
    font-size: 20px;
}

.button4 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button4 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button4:hover span {
    padding-right: 25px;
}

.button4:hover span:after {
    opacity: 1;
    right: 0;
}

.button5 {
    background-color: coral;
    font-size: 20px;
}

.button5 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button5 span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button5:hover span {
    padding-right: 25px;
}

.button5:hover span:after {
    opacity: 1;
    right: 0;
}

.tales {
    box-sizing: border-box;
    /* border-length: 100px;  */
    width: 8px;
    border-style: solid
}

.center {
    text-align: center;
}